.tracked-page {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 24px;
  }

  &__loading {
    display: flex;
    justify-content: center;
    padding: 64px 0;
  }

  &__header-actions {
    display: flex;
    gap: 8px;
    padding-bottom: 12px;
  }
}
